<launch>
  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="/dev/input/js0"/>
    <param name="autorepeat_rate" value="15"/>
  </node>

  <node name="joystick_control" pkg="magician_control" type="joystick_control.py" output="screen">
    <param name="sensitivity" value="3.5"/>
  </node>

  <node name="general_control" pkg="magician_control" type="general_control.py" output="screen"/>
</launch>