<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="True" />
  <param
    name="robot_description"
    textfile="$(find magician)/urdf/demo.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />

  <!-- Choose either 1 slidebar GUI -->
  <!-- <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" /> -->
  <!-- <node
    name="slidebar_sim_joint_state"
    pkg="magician"
    type="slidebar_sim_joint_state.py" /> -->

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" /> 
    <!-- changed type from "state_publisher" to "robot_state_publisher" 
     otherwiise have ERROR on: cannot locate node-->

  <!-- display a plane in rviz for click and go --> 
  <node name="plane_marker_node"
    pkg="magician"
    type="plane_marker.py"
    output="screen"/> 
  <node name="click_coordinate_node"
    pkg="magician"
    type="click_coord_publisher.py"  
    output="screen"/> 

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find magician)/config/demo.rviz"/>
</launch>
